body{
    background-color: lightblue;
    padding: 10px 0px 10px 0px;
    margin: 25px auto;
    font-family: 'Krona One', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}
main{
    text-align: center;
}

header{
    text-align: center;
    width: auto;
}

#welcome-message{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
}

.user-input-buts{
    width: 20em;
    height: 8em;
    border-radius: 5%;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 20px 0px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.user-input-buts:hover{
    transform: scale(1.05)
}

#rock-but{
    background-image: url(../images/rock.png);
    background-size: 60%;
    
   
}

#paper-but{
    background-image: url(../images/paper.png);
    background-size: 40%;
}

#scissors-but{
    background-image: url(../images/scissors.png);
    background-size: 75%;
}
#results-div{
    padding-top: 25px;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    background: #f2f2f2;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border-top: 3px solid orange;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.restart-but{
    font-size: 25px;
    width: 200px;
    height: 80px;
    border-radius: 5%;
    font-family: 'Krona One', sans-serif;
}

.restart-but:hover{
    transform: scale(1.05)
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
    body{
        background-color: lightblue;
        padding: 10px 0px 10px 0px;
        margin: 25px auto;
        font-family: 'Krona One', sans-serif;
        font-size: 10px;
    }

    #welcome-message{
        font-size: 10px;
        padding: 10px 30px 10px 30px;
    }

    .user-input-buts{
        width: 10em;
        height: 4em;
        border-radius: 5%;
        margin: 0px 10px 0px 10px;
        padding: 10px 0px 20px 0px;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    #results-div{
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .restart-but{
        font-size: 10px;
        width: 100px;
        height: 40px;
        border-radius: 5%;
        font-family: 'Krona One', sans-serif;
    }
    
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}